<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro de Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Inputs with labels -->
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="cliente.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input [(ngModel)]="cliente.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input [(ngModel)]="cliente.pws"></ion-input>
  </ion-item>

  <ion-button (click)="addCliente(cliente)">Salvar</ion-button>
</ion-content>